<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Python Tools</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

  </head>
  <body class="{{page}} {{layout}}">

    <div class="app-dashboard shrink-medium">
      {% block mainnav %}
      <div class="row expanded app-dashboard-top-nav-bar">
    <div class="columns medium-3">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo">Python tool</a>
    </div>
    <div class="columns show-for-medium">
      <div class="app-dashboard-search-bar-container">
        <input class="app-dashboard-search" type="search" placeholder="Search">
        <i class="app-dashboard-search-icon fa fa-search"></i>
      </div>
    </div>
    <div class="columns medium-3 shrink app-dashboard-top-bar-actions">
      <button href="#" class="button hollow">Logout</button>
      <a href="#" height="30" width="30" alt=""><i class="fa fa-info-circle"></i></a>
    </div>
  </div>
      {% endblock %}


      <div class="app-dashboard-body off-canvas-wrapper">
        {% block sidebar %}
        <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
      <div class="app-dashboard-sidebar-title-area">
        <div class="app-dashboard-close-sidebar">
          <h3 class="app-dashboard-sidebar-block-title">Items</h3>
          <!-- Close button -->
          <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
          </button>
        </div>
        <div class="app-dashboard-open-sidebar">
          <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-bars"></i></a></span>
          </button>
        </div>
      </div>
      <div class="app-dashboard-sidebar-inner">
        <ul class="menu vertical">
          <li><a href="/caesar-cipher" class="is-active">
            <i class="large fa fa-user-secret"></i><span class="app-dashboard-sidebar-text">Caesar  Ciphers</span>
          </a></li>
          <li><a href="/transposition-cipher">
            <i class="large fa fa-user-secret"></i><span class="app-dashboard-sidebar-text">Transposition Cipher</span>
          </a></li>
          <li><a href="/wordpress">
            <i class="large fa  fa-wordpress"></i><span class="app-dashboard-sidebar-text">WP theme generator</span>
          </a></li>
        </ul>
      </div>
    </div>
        {% endblock %}

        <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>

          {% block content %}{% endblock %}

        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>