{% extends 'base2.html' %}
{% block content %} 
<h2>Please select theme</h2>
<div class="row">
	<form action="/wordpress/generate" method="post">
		<div class="grid-x">
			<div class="cell medium-6 large-4">
				<div class="input-group">
					<select name="theme" class="input-group-field">
						<option>Please select theme</option>
						{% for theme in allthemes %}
						<option value="{{theme.id}}">{{theme.name}}</option>
						{% endfor %}
					</select>
					<div class="input-group-button">
						<button class="button" type="submit"><i class="fa fa-cogs" aria-hidden="true"></i> <span>Generate</span></button>
					</div>
				</div>
			</div>
		</div>
	</form>

	
</div>                              
<form method="post">
	<label for="theme_name">Theme name</label><input name="theme_name" value="{{ themevalue.theme_name }}">
	<label for="style_bg_color">Background color</label><input name="style_bg_color" value="{{ themevalue.style_bg_color }}">
	<label for="menu_type">Menu type</label>
	<select name="menu_type">
	<option value="dropdown">Drop down</option>
	<option value="mega_menu">Mega menu</option>
	</select>

	<br><button class="button">
	<span>Save</span></button>
</form>
{% endblock %}
